global:
  imageRegistry: public.ecr.aws
  security:
    allowInsecureImages: true
kubeVersion: 1.34.2
operator:
  enabled: false
prometheus:
  enabled: false
alertmanager:
  enabled: false
kubelet:
  enabled: false
blackboxExporter:
  enabled: false
kubeApiServer:
  enabled: false
kubeControllerManager:
  enabled: false
kubeScheduler:
  enabled: false
coreDns:
  enabled: false
kubeProxy:
  enabled: false
exporters:
  node-exporter:
    enabled: false
kube-state-metrics:
  kubeVersion: 1.34.2
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: /metrics
  serviceMonitor:
    enabled: false