applicationName: httpbin
deployment:
  image:
    repository: arnaudlacour/httpbin
    tag: latest
    pullPolicy: Always
  ports:
  - name: http
    containerPort: 80
    protocol: TCP
  resources:
    limits:
      cpu:
      memory: 128Mi
    requests:
      cpu:
      memory: 128Mi
  containerSecurityContext:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
service:
  ports: [ { "name": "http","port": 80,"protocol": "TCP","targetPort": 80 } ]
ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-ik-am
    traefik.ingress.kubernetes.io/router.middlewares: traefik-headers-middleware@kubernetescrd,traefik-websocket-header@kubernetescrd
  hosts:
  - host: httpbin.ik.am
    paths:
    - path: /
      pathType: Prefix
  tls:
  - hosts:
    - httpbin.ik.am
    secretName: httpbin-tls