#@ load("@ytt:data", "data")
apiVersion: v1
kind: Service
metadata:
  name: counter-api
  namespace: blog
  annotations:
    kapp.k14s.io/change-group: workload
  labels:
    app: counter-api
    app.kubernetes.io/part-of: counter-api
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: counter-api
  type: ClusterIP
  sessionAffinity: None
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: counter-api
  namespace: blog
  labels:
    app: counter-api
    app.kubernetes.io/part-of: counter-api
spec:
  replicas: #@ data.values.replicas
  selector:
    matchLabels:
      app: counter-api
  template:
    metadata:
      labels:
        app: counter-api
      annotations:
        github.com/revision: #@ data.values.git_revision
    spec:
      containers:
      - name: counter-api
        image: #@ data.values.image
        imagePullPolicy: IfNotPresent
        env:
        - name: server.port
          value: "8080"
        - name: info.env.hostname
          value: ${HOSTNAME:}
        - name: spring.sql.init.mode
          value: never
        - name: spring.datasource.url
          valueFrom:
            secretKeyRef:
              key: jdbc-url
              name: counter-config
        - name: spring.datasource.username
          valueFrom:
            secretKeyRef:
              key: jdbc-username
              name: counter-config
        - name: spring.datasource.password
          valueFrom:
            secretKeyRef:
              key: jdbc-password
              name: counter-config
        - name: management.opentelemetry.tracing.export.otlp.endpoint
          value: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/traces
        - name: management.opentelemetry.tracing.export.otlp.compression
          value: gzip
        - name: management.opentelemetry.logging.export.otlp.endpoint
          value: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/logs
        - name: management.opentelemetry.logging.export.otlp.compression
          value: gzip
        - name: management.otlp.metrics.export.url
          value: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/metrics
        - name: management.otlp.metrics.export.base-time-unit
          value: seconds
        - name: management.metrics.tags.app
          value: counter-api
        - name: management.metrics.tags.instance
          value: ${HOSTNAME:}
        - name: management.opentelemetry.resource-attributes.k8s.pod.name
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: management.opentelemetry.resource-attributes.k8s.namespace.name
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: management.opentelemetry.resource-attributes.k8s.node.name
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: management.opentelemetry.resource-attributes.host.ip
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: logging.structured.format.console
          value: ecs
        - name: spring.threads.virtual.enabled
          value: "true"
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: 125m
            ephemeral-storage: 400M
            memory: 250M
          requests:
            cpu: 125m
            ephemeral-storage: 400M
            memory: 250M
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsNonRoot: true
          runAsUser: 1002
          seccompProfile:
            type: RuntimeDefault