apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: blog-frontend-ik-am
  namespace: blog
spec:
  virtualhost:
    fqdn: ik.am
    tls:
      secretName: projectcontour/default-tls-ik-am
  routes:
  - services:
    - name: blog-frontend
      port: 8080
    loadBalancerPolicy:
      strategy: Cookie
---
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: blog-frontend-blog-ik-am
  namespace: blog
spec:
  virtualhost:
    fqdn: blog.ik.am
    tls:
      secretName: projectcontour/default-tls-ik-am
  routes:
  - services:
    - name: blog-frontend
      port: 80
    loadBalancerPolicy:
      strategy: Cookie