#@ load("@ytt:data", "data")
apiVersion: v1
kind: Secret
metadata:
  name: frontend-config
  namespace: blog
type: Opaque
stringData:
  oauth2-google-client-id: #@ data.values.oauth2.google.client_id
  oauth2-google-client-secret: #@ data.values.oauth2.google.client_secret
  ip-blacklist: #@ ",".join(data.values.ip_blacklist)