apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: note-api-note-api-note-apps-ik-am
  namespace: note
spec:
  virtualhost:
    fqdn: note-api-note.apps.ik.am
    tls:
      secretName: projectcontour/default-tls-ik-am
  routes:
  - services:
    - name: note-api
      port: 8080