service:
  type: ClusterIP
deployment:
  replicas: 2
ports:
  web:
    proxyProtocol:
      trustedIPs:
      - 10.0.0.0/16
      - 10.96.0.0/16
    transport:
      respondingTimeouts:
        readTimeout: 600s
        writeTimeout: 600s
        idleTimeout: 600s
  websecure:
    proxyProtocol:
      trustedIPs:
      - 10.0.0.0/16
      - 10.96.0.0/16
    transport:
      respondingTimeouts:
        readTimeout: 600s
        writeTimeout: 600s
        idleTimeout: 600s
    middlewares:
    - traefik-denyip@kubernetescrd
logs:
  general:
    format: json
    #! level: WARN
  access:
    enabled: true
    format: json
    otlp:
      enabled: true
      http:
        enabled: true
        endpoint: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/logs
        tls:
          insecureSkipVerify: true
tracing:
  otlp:
    enabled: true
    http:
      enabled: true
      endpoint: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/traces
      tls:
        insecureSkipVerify: true
experimental:
  plugins:
    denyip:
      moduleName: "github.com/kvncrw/denyip"
      version: "v1.1.0"
    coraza:
      moduleName: "github.com/jcchavezs/coraza-http-wasm-traefik"
      version: "v0.3.0"
  otlpLogs: true
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.traefik.ik.am`)
    entryPoints:
    - websecure
    middlewares:
    - name: dashboard-auth
    tls:
      secretName: dashboard-tls
extraObjects:
- apiVersion: cert-manager.io/v1
  kind: Certificate
  metadata:
    name: dashboard-tls
    namespace: traefik
  spec:
    secretName: dashboard-tls
    issuerRef:
      name: letsencrypt
      kind: ClusterIssuer
    dnsNames:
    - dashboard.traefik.ik.am
- apiVersion: v1
  kind: Secret
  metadata:
    name: dashboard-auth-secret
    namespace: traefik
  type: kubernetes.io/basic-auth
  stringData:
    username: admin
    password: changeme
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: dashboard-auth
    namespace: traefik
  spec:
    basicAuth:
      secret: dashboard-auth-secret
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: denyip
    namespace: traefik
  spec:
    plugin:
      denyip:
        ipDenyList:
        - 104.197.69.115
        - 109.149.23.4
        - 121.127.34.106
        - 13.56.149.3
        - 147.185.132.76
        - 155.248.184.241
        - 157.143.20.83
        - 157.143.30.12
        - 159.65.216.50
        - 159.89.194.131
        - 16.145.94.216
        - 164.90.151.185
        - 164.92.107.174
        - 172.192.18.188
        - 185.12.59.118
        - 185.242.177.50
        - 188.166.49.70
        - 192.159.99.95
        - 193.142.147.209
        - 195.178.110.201
        - 198.235.24.152
        - 20.24.218.130
        - 205.169.39.0/24
        - 23.98.91.210
        - 3.101.132.77
        - 3.233.59.216
        - 34.123.170.104
        - 34.26.246.252
        - 35.167.205.129
        - 37.46.196.22
        - 4.147.185.30
        - 4.189.171.149
        - 4.189.253.242
        - 4.194.85.10
        - 44.200.137.196
        - 45.135.193.9
        - 51.77.218.191
        - 74.7.175.0/24
        - 74.7.227.0/24
        - 78.153.140.171
        - 79.100.14.146
        - 87.236.176.234
        - 91.239.216.99
        - 95.214.52.170
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: coraza
    namespace: traefik
  spec:
    plugin:
      coraza:
        directives:
        - SecRuleEngine On
        - SecDebugLog /dev/stdout
        - SecDebugLogLevel 9
        - Include @crs-setup.conf.example
        - Include @owasp_crs/*.conf
