service:
  type: ClusterIP
deployment:
  replicas: 2
ports:
  web:
    proxyProtocol:
      trustedIPs:
      - 10.0.0.0/16
      - 10.96.0.0/16
    transport:
      respondingTimeouts:
        readTimeout: 600s
        writeTimeout: 600s
        idleTimeout: 600s
  websecure:
    proxyProtocol:
      trustedIPs:
      - 10.0.0.0/16
      - 10.96.0.0/16
    transport:
      respondingTimeouts:
        readTimeout: 600s
        writeTimeout: 600s
        idleTimeout: 600s
    middlewares:
    - traefik-denyip@kubernetescrd
logs:
  general:
    format: json
    #! level: WARN
  access:
    enabled: true
    format: json
    otlp:
      enabled: true
      http:
        enabled: true
        endpoint: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/logs
        tls:
          insecureSkipVerify: true
tracing:
  otlp:
    enabled: true
    http:
      enabled: true
      endpoint: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/traces
      tls:
        insecureSkipVerify: true
experimental:
  plugins:
    denyip:
      moduleName: "github.com/kvncrw/denyip"
      version: "v1.1.0"
    coraza:
      moduleName: "github.com/jcchavezs/coraza-http-wasm-traefik"
      version: "v0.3.0"
  otlpLogs: true
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.traefik.ik.am`)
    entryPoints:
    - websecure
    middlewares:
    - name: dashboard-auth
extraObjects:
- apiVersion: v1
  kind: Secret
  metadata:
    name: dashboard-auth-secret
    namespace: traefik
  type: kubernetes.io/basic-auth
  stringData:
    username: admin
    password: changeme
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: dashboard-auth
    namespace: traefik
  spec:
    basicAuth:
      secret: dashboard-auth-secret
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: denyip
    namespace: traefik
  spec:
    plugin:
      denyip:
        ipDenyList:
        - 185.242.177.0/24
        - 91.239.216.99
        - 193.142.147.209
        - 157.143.30.12
        - 205.169.39.0/24
        - 172.192.18.188
        - 104.197.69.115
        - 34.123.170.104
        - 192.159.99.95
        - 37.46.196.22
        - 159.89.194.131
        - 147.185.132.76
        - 185.242.177.50
        - 192.159.99.95
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: coraza
    namespace: traefik
  spec:
    plugin:
      coraza:
        directives:
        - SecRuleEngine On
        - SecDebugLog /dev/stdout
        - SecDebugLogLevel 9
        - SecRule REQUEST_URI "@streq /wp-admin" "id:101,phase:1,log,deny,status:403"
        - Include @crs-setup.conf.example
        - Include @owasp_crs/*.conf
