service:
  type: ClusterIP
deployment:
  replicas: 2
ports:
  web:
    proxyProtocol:
      trustedIPs:
      - 10.0.0.0/16
      - 10.96.0.0/16
    transport:
      respondingTimeouts:
        readTimeout: 600s
        writeTimeout: 600s
        idleTimeout: 600s
  websecure:
    proxyProtocol:
      trustedIPs:
      - 10.0.0.0/16
      - 10.96.0.0/16
    transport:
      respondingTimeouts:
        readTimeout: 600s
        writeTimeout: 600s
        idleTimeout: 600s
    #! middlewares:
    #! - traefik-headers-middleware@kubernetescrd
logs:
  general:
    format: json
  access:
    enabled: true
    format: json
    otlp:
      enabled: true
      http:
        enabled: true
        endpoint: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/logs
        tls:
          insecureSkipVerify: true
tracing:
  otlp:
    enabled: true
    http:
      enabled: true
      endpoint: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/traces
      tls:
        insecureSkipVerify: true
experimental:
  plugins:
    example:
      moduleName: github.com/traefik/plugindemo
      version: v0.2.2
    geoblock:
      moduleName: github.com/nscuro/traefik-plugin-geoblock
      version: v0.14.0
  otlpLogs: true
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.traefik.ik.am`)
    entryPoints:
    - websecure
    middlewares:
    - name: dashboard-auth
extraObjects:
- apiVersion: v1
  kind: Secret
  metadata:
    name: dashboard-auth-secret
    namespace: traefik
  type: kubernetes.io/basic-auth
  stringData:
    username: admin
    password: changeme
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: dashboard-auth
    namespace: traefik
  spec:
    basicAuth:
      secret: dashboard-auth-secret
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: headers-middleware
    namespace: traefik
  spec:
    plugin:
      example:
        headers:
          X-Foo: Bar
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: geoblock
    namespace: traefik
  spec:
    plugin:
      geoblock:
        enabled: "true"
        databaseFilePath: /plugins-local/src/github.com/nscuro/traefik-plugin-geoblock/IP2LOCATION-LITE-DB1.IPV6.BIN
        blockedCountries: [ "RU" ]
        blockedIPBlocks:
        - 133.159.153.116/32