image:
  tag: v3.6.5
service:
  type: ClusterIP
deployment:
  replicas: 2
ports:
  web:
    proxyProtocol:
      trustedIPs:
      - 10.0.0.0/16
      - 10.96.0.0/16
    transport:
      respondingTimeouts:
        readTimeout: 600s
        writeTimeout: 600s
        idleTimeout: 600s
  websecure:
    proxyProtocol:
      trustedIPs:
      - 10.0.0.0/16
      - 10.96.0.0/16
    transport:
      respondingTimeouts:
        readTimeout: 600s
        writeTimeout: 600s
        idleTimeout: 600s
    middlewares: [ ]
logs:
  general:
    format: json
    level: WARN
  access:
    enabled: true
    format: json
    otlp:
      enabled: true
      http:
        enabled: true
        endpoint: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/logs
        tls:
          insecureSkipVerify: true
tracing:
  otlp:
    enabled: true
    http:
      enabled: true
      endpoint: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/traces
      tls:
        insecureSkipVerify: true
experimental:
  plugins:
    coraza:
      moduleName: "github.com/jcchavezs/coraza-http-wasm-traefik"
      version: "v0.3.0"
    oidc-auth:
      moduleName: "github.com/sevensolutions/traefik-oidc-auth"
      version: "v0.17.0"
  otlpLogs: true
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.traefik.ik.am`)
    entryPoints:
    - websecure
    middlewares:
    - name: oidc-auth-for-dashbord
    tls:
      secretName: dashboard-tls
extraObjects:
- apiVersion: cert-manager.io/v1
  kind: Certificate
  metadata:
    name: dashboard-tls
    namespace: traefik
  spec:
    secretName: dashboard-tls
    issuerRef:
      name: letsencrypt
      kind: ClusterIssuer
    dnsNames:
    - dashboard.traefik.ik.am
