service:
  type: ClusterIP
deployment:
  replicas: 2
ports:
  web:
    proxyProtocol:
      trustedIPs:
      - 10.0.0.0/16
      - 10.96.0.0/16
    transport:
      respondingTimeouts:
        readTimeout: 600s
        writeTimeout: 600s
        idleTimeout: 600s
  websecure:
    proxyProtocol:
      trustedIPs:
      - 10.0.0.0/16
      - 10.96.0.0/16
    transport:
      respondingTimeouts:
        readTimeout: 600s
        writeTimeout: 600s
        idleTimeout: 600s
    #! middlewares:
    #! - traefik-headers-middleware@kubernetescrd
logs:
  general:
    format: json
    level: WARN
  access:
    enabled: true
    format: json
    otlp:
      enabled: true
      http:
        enabled: true
        endpoint: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/logs
        tls:
          insecureSkipVerify: true
tracing:
  otlp:
    enabled: true
    http:
      enabled: true
      endpoint: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/traces
      tls:
        insecureSkipVerify: true
experimental:
  plugins:
    blockip:
      moduleName: "github.com/ttys3/traefik-plugin-denyip"
      version: "v2.0.9"
    coraza-http-wasm-traefik:
      moduleName: "github.com/jcchavezs/coraza-http-wasm-traefik"
      version: "v0.3.0"
  otlpLogs: true
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.traefik.ik.am`)
    entryPoints:
    - websecure
    middlewares:
    - name: dashboard-auth
extraObjects:
- apiVersion: v1
  kind: Secret
  metadata:
    name: dashboard-auth-secret
    namespace: traefik
  type: kubernetes.io/basic-auth
  stringData:
    username: admin
    password: changeme
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: dashboard-auth
    namespace: traefik
  spec:
    basicAuth:
      secret: dashboard-auth-secret
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: blockip
    namespace: traefik
  spec:
    plugin:
      blockip:
        ipDenyList:
        - 133.159.153.116
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: coraza-http-wasm-traefik
    namespace: traefik
  spec:
    plugin:
      coraza-http-wasm-traefik:
        directives:
        - SecRuleEngine On
        - SecDebugLog /dev/stdout
        - SecDebugLogLevel 9
        - SecRule REQUEST_URI "@streq /admin" "id:101,phase:1,log,deny,status:403"
