applicationName: whoami
deployment:
  image:
    repository: traefik/whoami
    tag: latest
    pullPolicy: Always
  ports:
  - name: http
    containerPort: 80
    protocol: TCP
  resources:
    limits:
      cpu:
      memory: 64Mi
    requests:
      cpu:
      memory: 64Mi
  containerSecurityContext:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
service:
  ports: [ { "name": "http","port": 80,"protocol": "TCP","targetPort": 80 } ]
ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    #! traefik.ingress.kubernetes.io/router.middlewares: traefik-headers-middleware@kubernetescrd
  hosts:
  - host: whoami.lan.ik.am
    paths:
    - path: /
      pathType: Prefix
  tls:
  - hosts:
    - whoami.lan.ik.am
    secretName: whoami-tls