apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: translation-api
  namespace: blog
spec:
  virtualhost:
    fqdn: translation-api.ik.am
    tls:
      secretName: projectcontour/default-tls-ik-am
  routes:
  - services:
    - name: translation-api
      port: 80