apiVersion: v1
kind: Secret
metadata:
  name: regsecret
  namespace: grafana-operator
  annotations:
    secretgen.carvel.dev/image-pull-secret: ""
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: e30K