---
applicationName: entry-api
deployment:
  replicas: 1
  image:
    repository: ghcr.io/categolj/entry-api-gemfire
    tag: jvm
    pullPolicy: Always
  ports:
  - name: http
    containerPort: 8080
    protocol: TCP
  podLabels:
    app: entry-api
  additionalPodAnnotations:
    prometheus.io/path: /actuator/prometheus
    prometheus.io/port: "8080"
    prometheus.io/scrape: "true"
  env:
    JAVA_TOOL_OPTIONS:
      value: -XX:ActiveProcessorCount=2 -XX:ReservedCodeCacheSize=28M -XX:MaxMetaspaceSize=128M -Xss512k -Dfile.encoding=UTF-8 -Duser.country=JP -Duser.language=ja -Duser.timezone=Asia/Tokyo
    BPL_JVM_THREAD_COUNT:
      value: "28"
    gemfire.locators:
      value: entry-gemfire-locator-0.entry-gemfire-locator.blog.svc.cluster.local:10334
    gemfire.properties.ssl-enabled-components:
      value: all
    gemfire.properties.ssl-endpoint-identification-enabled:
      value: "true"
    gemfire.properties.ssl-keystore:
      value: /certs/truststore.p12
    gemfire.properties.ssl-keystore-password:
      valueFrom:
        secretKeyRef:
          name: entry-gemfire-cert
          key: password
    gemfire.properties.ssl-truststore:
      value: /certs/keystore.p12
    gemfire.properties.ssl-truststore-password:
      valueFrom:
        secretKeyRef:
          name: entry-gemfire-cert
          key: password
    spring.security.user.password:
      valueFrom:
        secretKeyRef:
          key: admin-password
          name: entry-api-config
    BLOG_TENANT_USERS_0:
      valueFrom:
        secretKeyRef:
          key: users-0
          name: entry-api-config
    BLOG_TENANT_USERS_1:
      valueFrom:
        secretKeyRef:
          key: users-1
          name: entry-api-config
    BLOG_TENANT_USERS_2:
      valueFrom:
        secretKeyRef:
          key: users-2
          name: entry-api-config
    blog.github.direct-update:
      value: "true"
    blog.github.content-owner:
      value: making
    blog.github.content-repo:
      value: blog.ik.am
    blog.github.access-token:
      valueFrom:
        secretKeyRef:
          key: github-access-token
          name: entry-api-config
    blog.github.webhook-secret:
      valueFrom:
        secretKeyRef:
          key: github-webhook-secret
          name: entry-api-config
    blog.github.tenants.en.content-owner:
      value: making
    blog.github.tenants.en.content-repo:
      value: ik.am_en
    blog.github.tenants.en.access-token:
      valueFrom:
        secretKeyRef:
          key: github-access-token-en
          name: entry-api-config
    blog.github.tenants.en.webhook-secret:
      valueFrom:
        secretKeyRef:
          key: github-webhook-secret-en
          name: entry-api-config
    blog.github.tenants.[note.ik.am].content-owner:
      value: making
    blog.github.tenants.[note.ik.am].content-repo:
      value: note.ik.am
    blog.github.tenants.[note.ik.am].access-token:
      valueFrom:
        secretKeyRef:
          key: github-access-token-note
          name: entry-api-config
    blog.github.tenants.[note.ik.am].webhook-secret:
      valueFrom:
        secretKeyRef:
          key: github-webhook-secret-note
          name: entry-api-config
    spring.ai.openai.base-url:
      valueFrom:
        secretKeyRef:
          key: openai-url
          name: entry-api-config
    spring.ai.openai.chat.options.model:
      valueFrom:
        secretKeyRef:
          key: openai-chat-model
          name: entry-api-config
    spring.ai.openai.api-key:
      valueFrom:
        secretKeyRef:
          key: openai-apikey
          name: entry-api-config
    spring.cloud.aws.credentials.access-key:
      valueFrom:
        secretKeyRef:
          key: s3-access-key
          name: entry-api-config
    spring.cloud.aws.credentials.secret-key:
      valueFrom:
        secretKeyRef:
          key: s3-secret-key
          name: entry-api-config
    spring.cloud.aws.s3.endpoint:
      valueFrom:
        secretKeyRef:
          key: s3-url
          name: entry-api-config
    spring.cloud.aws.s3.path-style-access-enabled:
      value: "true"
    spring.cloud.aws.s3.region:
      value: us-east-1
    blog.s3.create-bucket:
      value: "true"
    blog.s3.backet-name:
      valueFrom:
        secretKeyRef:
          key: s3-bucket-name
          name: entry-api-config
    management.observations.enable.spring.security:
      value: "false"
    management.tracing.export.otlp.enabled:
      value: "true"
    management.opentelemetry.tracing.export.otlp.endpoint:
      value: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/traces
    management.opentelemetry.tracing.export.otlp.compression:
      value: gzip
    management.logging.export.otlp.enabled:
      value: "true"
    management.opentelemetry.logging.export.otlp.endpoint:
      value: http://otel-collector.opentelemetry.svc.cluster.local:4318/v1/logs
    management.opentelemetry.logging.export.otlp.compression:
      value: gzip
    management.opentelemetry.resource-attributes.k8s.pod.name:
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    management.opentelemetry.resource-attributes.k8s.namespace.name:
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
    management.opentelemetry.resource-attributes.k8s.node.name:
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    management.opentelemetry.resource-attributes.host.ip:
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    logging.structured.format.console:
      value: ecs
    info.env.hostname:
      value: ${HOSTNAME:}
  volumeMounts:
    cert-volume:
      mountPath: /certs
  volumes:
    cert-volume:
      secret:
        secretName: entry-gemfire-cert
  resources:
    limits:
      cpu:
      memory: 1024Mi
    requests:
      cpu:
      memory: 512Mi
  livenessProbe:
    enabled: true
    httpGet:
      path: /actuator/health/liveness
      port: 8080
      scheme: HTTP
  readinessProbe:
    enabled: true
    httpGet:
      path: /actuator/health/readiness
      port: 8080
      scheme: HTTP
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    runAsUser: 1002
    seccompProfile:
      type: RuntimeDefault
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/part-of: entry-api
          topologyKey: kubernetes.io/hostname
        weight: 1
ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
  - host: entry-api.ik.am
    paths:
    - path: /
      pathType: Prefix
  tls:
  - hosts:
    - entry-api.ik.am
    secretName: entry-api-tls
---
