service:
  spec:
    loadBalancerIP: 192.168.11.240
logs:
  general:
    format: json
  access:
    enabled: true
    format: json
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.lan.ik.am`)
    entryPoints:
    - websecure
    middlewares:
    - name: dashboard-auth
extraObjects:
- apiVersion: v1
  kind: Secret
  metadata:
    name: dashboard-auth-secret
    namespace: traefik
  type: kubernetes.io/basic-auth
  stringData:
    username: admin
    password: changeme
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: dashboard-auth
    namespace: traefik
  spec:
    basicAuth:
      secret: dashboard-auth-secret