image:
  repository: docker.io/osixia/openldap
replicaCount: 1
customTLS:
  enabled: true
  secret: openldap-tls
service:
  type: ClusterIP
  annotations:
    oci-network-load-balancer.oraclecloud.com/is-preserve-source: "true"
    oci-network-load-balancer.oraclecloud.com/security-list-management-mode: All
    oci.oraclecloud.com/load-balancer-type: nlb
  ldapPortNodePort: 30389
  sslLdapPortNodePort: 30636
persistence:
  size: 1Gi
  storageClass: nfs
logLevel: info
env:
  LDAP_DOMAIN: ik.am
  LDAP_ORGANISATION: IK.AM
  LDAP_READONLY_USER: "true"
ltb-passwd:
  enabled: false
customLdifFiles:
  01-groups.ldif: |-
    dn: ou=people,dc=ik,dc=am
    objectClass: organizationalUnit
    ou: people

    dn: ou=groups,dc=ik,dc=am
    objectClass: organizationalUnit
    ou: groups
phpldapadmin:
  image:
    repository: docker.io/osixia/phpldapadmin
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      traefik.ingress.kubernetes.io/router.middlewares: traefik-allow-home@kubernetescrd
    hosts:
    - phpldapadmin.ik.am
    tls:
    - secretName: phpldapadmin-tls
      hosts:
      - phpldapadmin.ik.am
  env:
    PHPLDAPADMIN_HTTPS: "false"
    PHPLDAPADMIN_LDAP_HOSTS: openldap-stack-ha
